
.card {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.card h1 {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.card div {
    text-align: justify;
}